.app_layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app_layout main{
    flex-grow: 1;
}

.creator-form .form-label {
    font-weight: 600;
}

.creator-form .input-group-text {
    background: #eaf4ff;
    color: #0d6efd;
}
